html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background: $color-white;
    text-rendering: optimizeSpeed;
    margin: 0;
}


/*--------------------------------------------------------------
# List
--------------------------------------------------------------*/

ul,
ol {
    margin: 0%;
    padding: 0;
    // list-style-type: none;
}

dt {
    font-weight: bold;
}

//description Title

img {
    display: block;
    vertical-align: center;
}

table {
    margin: 0;

    td,
    th {
        padding: 12px 15px;
        border: 1px solid $color-grey;
        text-align: left;
    }
}

code {
    margin: 0 .2rem;
    border-radius: 4px;
    display: block;
}

header {
    margin: 0;
}



.caps {
    text-transform: uppercase;
}

strong {
    font-weight: 700;
}

.container {
    width: 90%;
    max-width: 1170px;
    margin: auto;
}

.btn {
    padding: 10px 30px;
    text-decoration: none;
    text-align: center;
    font-size: 1rem;
    // display: grid;
    // align-items: center;
}

.btn-rounded {
    border-radius: 5px;
}

@keyframes arrowMove {
    0% {}

    25% {
        transform: translateX(50px)
    }

    50% {
        opacity: 0;
        transform: translateX(-50px)
    }

    75% {
        opacity: 0.5;
        transform: translateX(-20px)
    }

    100% {
        opacity: 1;
        transform: translateX(0px)
    }
}

.btn-style2 {
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    justify-items: end;
    align-items: start;
    height: 48px;

    pre {
        display: none;
    }

    .btn-text {
        padding: 10px 10px 10px 20px;
    }

    .arrow {
        display: grid;
        align-items: center;
        padding: 10px;
        transition: all 0.5s linear;
        height: 45px;
        overflow: hidden;
    }

    &:hover .arrow img {
        animation: arrowMove 0.5s ease-out;

    }
}

.btn-outline {
    border: 2px solid $color-primary;
    transition: 0.2s all linear;

    &:hover {
        background-color: $color-primary;
        color: $color-white !important;
    }
}

.btn-white {
    background-color: $color-white;
    box-shadow: 0px 0px 71px -20px rgba(0, 0, 0, 0.75);

    i {
        margin: auto;
    }
}

.btn-primary {
    background-color: $color-primary;
    border: 2px solid $color-primary;
    color: $color-white;
    font-weight: 400;
    transition: 0.2s all linear;

    &:hover {
        background-color: $color-white;
        border: 2px solid $color-primary;
        color: $color-primary !important;
    }
}

.btn-accent {
    background-color: $color-accent;
    border: 2px solid $color-accent;
    font-weight: 400;
    color: $color-white;
    transition: 0.2s all linear;

    &:hover {
        background-color: $color-white;
        color: $color-accent !important;
        border: 2px solid $color-accent;
        font-weight: 400;
    }

}

a {
    color: $color-primary;
}

.bg-black {
    background-color: #07074E;
}

#particles-js,
#particles-js2 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.highlight-primary {
    color: $color-primary !important;
    font-weight: 500 !important;
}

small {
    font-weight: 400;
    font-size: 0.75rem;
    letter-spacing: 0.01rem;
}

.displayNone {
    //display: none !important;
}

pre {
    background-color: $color-grey;
}

blockquote {
    position: relative;

    &::before {
        &::before {
            content: "\201C";
            font-size: 6rem;
            position: absolute;
            left: 0;
            font-family: 'Times New Roman', Times, serif;
        }
    }
}