footer {
    background-color: $color-lightgrey;
    padding: 50px 0px 0px 0px;

    .container {
        position: relative;

        .cols {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            padding-bottom: 20px;

            .col {
                h3 {
                    font-size: 20px;
                }

                img {
                    margin-top: -9px;
                }

                .col-content {
                    margin-top: 15px;

                    h5 {
                        line-height: 16px;

                        a {
                            font-size: 16px;
                            font-weight: 400;
                            font-family: $font__secondary;
                            color: darken($color-grey, 20%);
                            margin-bottom: 5px;
                            text-decoration: none;

                            &:hover {
                                color: $color-primary;
                            }
                        }
                    }

                    .col-content-bottom {
                        margin-top: 2rem;
                        display: grid;
                        grid-template-rows: 1fr 1fr;
                        justify-content: space-between;
                        align-items: center;
                        grid-gap: .4rem;

                        .col-social {
                            display: grid;
                            grid-template-columns: repeat(5, 1fr);

                            img {
                                width: 25px;
                                height: 25px;
                            }
                        }
                    }
                }
            }
        }

        .enter-email {
            width: 25%;
            position: absolute;
            bottom: 11px;
            right: 5%;
            grid-template-columns: 2fr .5fr;
            grid-gap: 1rem;

            input {
                width: auto;
            }
        }
    }

    .copright {
        background: $color-primary;
        height: 30px;

        p {
            color: $color-white;
            margin: 0;
            text-align: center;
            padding: 2px 0px;
        }
    }
}