.alignLeft {
    display: inline;
    float: left;
}

.alignRight {
    display: inline;
    float: right;
}

.alignCenter {
    @include centerBlock;
}

.textCenter {
    text-align: center;
}

.mt-2 {
    margin-top: 2rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

li ul {
    margin-left: 1rem;
}

ol li {
    margin-left: 1rem;
}